.fullwidth{
    width: 100%;
    float: left;
}
.div50{
    width: 50%;
    float: left;
}  
.div25name{
    width: 25%;
    float: left;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}  
.div25{
    width: 25%;
    float: left;
    text-align: center;
    font-size: 12px;
    padding: 5px 0;
} 
.addnew{
        border: 1px solid black;
    border-radius: 5px;
    background: orange;
    width: 72px;
    text-align: center;
    color:#000000;
}
.addnew:focus, .addnew:active {
    border: 1px solid #ffaf4d;
    border-radius: 5px;
    background: #ffaf4d;
    width: 72px;
    text-align: center;
    color:#ffffff;
}
.voteButton{
    width: 66px;
    height: 22px;
}